* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  h1 {
    color: Black;
    text-align: center;
  }
  
  h2 {
    color: Black;
    text-align: center;
  }

  h3 {
    color: Black;
    text-align: center;
    font-size: 19px;
    font-weight: 380;
  }
  
  p{
    text-align: center;
    align: center;
  }
  li {
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
  }
  
  table, th, td {
    border: 1px solid black;
    align: center;
    text-align: center;
    margin: 0 auto;
  }
  ul{
    list-style-type: None;
  }
  audio {
    width: 7.0cm;
    height: 1.2cm;
  }